<h1> Welcome to the puppy adoption site!</h1>

<a href="/new">List A Puppy</a>

<form method ="POST" action="/puppy_finder">
    <label for="puppy">Enter your puppy here:</label>
    <input type="text" id="puppy" name="user_puppy">
    <input type="submit">
</form>

